html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#scope {
	height: 300px;
	left: 50%;
	margin: -150px 0 0 -150px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	width: 300px;
	z-index: 9999;

	.again {
		background: rgba(#ff0, 0.25);
		border-radius: 100%;
		height: 100%;
		width: 100%;

		.fine {
			background: rgba(#f80, 0.25);
			border-radius: 100%;
			bottom: 0;
			height: 60%;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			width: 60%;

			.hit {
				background: rgba(#800, 0.25);
				border-radius: 100%;
				bottom: 0;
				height: 33.33%;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 33.33%;
			}
		}
	}
}

#env {
	background: rgba(#000, 0.25);
	padding: 1em;
	position: fixed;
	right: 30px;
	top: 20px;
}

#fish {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5000;

	.fish-1 {
		position: absolute;
		animation: moveY 3s infinite alternate ease-in,
		           moveX 10s infinite normal linear;
	}
}

@keyframes moveX {
	0% {left: 0;}
	50% {left: 50%;}
	100% {left: 5%;}
}

@keyframes moveY {
	0% {top: 0;}
	50% {top: 20%;}
	100% {top: 5%;}
}
